

/* App.css */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh; 
}


.login-button,
.register-button {
  background-color: #007bff; 
  color: #fff; /* Text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.2s ease;
  margin-bottom: 20px; /* Add space between buttons */
}

.login-button:hover,
.register-button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}


.button_haven
{
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-flow: column-reverse;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}